<!DOCTYPE html>
<html>
	<head>
		<meta charset="uft-8">
		<title> To Do List </title>
		<!-- Bootstrap library -->
		<link rel="stylesheet" href="assets/vendor/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/style.css">
	</head>
	<body>
		{{{body}}}

		<script src="assets/vendor/jquery/dist/jquery.min.js"></script>
		<!-- Bootstrap library -->
		<script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	</body>
</html>